/dts-v1/;
/plugin/;

#include "kona-bt.dtsi"

/ {
       model = "Qualcomm Technologies, Inc. kona iot SoCs";
       compatible = "qcom,kona", "qcom,kona-iot";
       qcom,msm-id = <0x1e1 0x20001>;
       qcom,board-id = <0x010020 0x07>;
};
